@import "_variables";

.top-nav-bar {
  background-color: $yellow;
  border-bottom: 5px solid $main-green;
  color: $main-green;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.drop-down {
  padding-left: 1rem;
  font-size: 24px;
  align-self: center;
}

.container {
  max-width: 100%;
  padding: 0 1rem;
}

.nav-bar-text {
  display: flex;
  align-items: center;
}

.nav-bar-name {
  font-weight: 700;
  font-size: 25px;
}

a {
  padding-left: 1rem;
}

a:hover {
  filter: brightness(0.9);
}