@import "_variables";

.top-nav-bar {
  background-color: $yellow;
  border-bottom: 5px solid $main-green;
  color: $main-green;
}

.container {
  max-width: 100%;
  padding: 0 1rem;
}

.nav-bar-text {
  display: flex;
  align-items: center;
}

.nav-bar-name {
  font-weight: 700;
  font-size: 26px;
}

a {
  padding-left: 1rem;
}

a:hover {
  filter: brightness(1.2);
}