@import '~bootstrap/scss/bootstrap';
@import 'styles/_variables';

body {
  background-image: url('/assets/green-bg-grid.png');
  background-size: cover; /* Optional: Adjust based on your design preferences */
  background-position: center; /* Optional: Adjust based on your design preferences */
}